
.gallery {
    z-index: 1;
    position: absolute;
}

.gallery a {
    color: #900;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    position: relative;
  }
  
  a[data]:hover:before   {
    content: attr(data);
    padding: 4px 8px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    position: absolute;
    left: 0;
    top: -100%;
    white-space: nowrap;
    z-index: 2;
    border-radius: 5px ;
    background: rgba(0,0,0,0);
  }

.content p {
    /* font-size: 1.2rem; */
    position: relative;
    z-index: 2;

}

/* .player {
    z-index: 0;
    position: relative;

} */

.thinking-about-title {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

#thinking-about {
    
    max-width: 50vh;
    white-space:break-spaces;
    text-align: center;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;
        /* background-color: ; */



}

#thinking-about p {
    font-size: 1rem;
    
}

#thinking-about a {
    white-space: nowrap;
}

.video-container{
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: relative;
  }

.player-container{
    opacity: 0%;
    background-color: black;
} 
      
  iframe {
    position: absolute;
    pointer-events: none;
    top: 25%;
    left: 25%;
    width: 40vw;
    height: 40vh;
    /* transform: translate(-50%, -50%); */
    z-index: -1;
    /* background-color: black; */

  }

  @media screen and (max-width: 700px) {
    #thinking-about a {
    
        
        white-space:pre-wrap;
    
    
    }
    iframe {
        width: 70vw;
        height: 20vh;
    }
  }